<style>
  table, thead, th, tr, td, tbody {
      border: 1px solid black;
  }
</style>

<h1>Serise#index</h1>
<p>Find me in app/views/serise/index.html.erb</p>

<section class="title">
  글목록
</section>
<article>
  <table class="table table-hover table-bordered data-tables">
    <thead>
    <tr>
      <% %w(id 작성일 제목 시리즈id 관리 삭제 ).each do |column| %>
        <th><span class="nowrap"><%= column %></span></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |t| %>
      <tr>
        <td><%= t.til_id %></td>
        <td><%= t.created_at %></td>
        <td><%= t.title %></td>
        <td></td>
        <td>관리</td>
        <td>삭제</td>


      </tr>
    <% end %>
    </tbody>
  </table>
</article>
<script>
    $(document).ready(function() {
        $('.data-tables').DataTable({
            "pageLength": 50,
            "order": []
        });
    })
</script>